@(imasec: models.ImaSec)
<div id="imasec_"+@imasec.id class="table_body_element" >
    <div class="table_body_item">@imasec.id</div>
    <div class="table_body_item">@imasec.id_tienda</div>
    <div class="table_body_item">@imasec.id_mueble</div>
    <div class="table_body_item">@imasec.id_seccion</div>
    <div class="table_body_item">@imasec.id_auditor</div>
    <div class="table_body_item">@imasec.fecha</div>
    <div class="table_body_item">@imasec.hora</div>
    <div class="table_body_item">
        <a href="@routes.ImaSec.show(imasec.id)">
            <img src='@(routes.Assets.at("images/"+imasec.picture))' width="100%" height="100%" />
        </a>
    </div>

</div>




